/* hero section */

body {

    font-family: "Montserrat";
    text-align: center;
}

h1 , h2 , h3 , h4 , h5 {
    font-family: "Montserrat-Bold";
}


h3 {
    font-size: 1.7rem;
}

em {
    color: white;
}

.coloured-section {
    background-color: #ff4c68;

}


.ml-auto {
    margin-left: auto;
}

.container-fluid {
    padding: 5% 15%;
}

/* navigation bar */
.navbar {
    margin-bottom: 7%;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}

.nav-link {
    font-family: 'Montserrat-light';
    font-size: 1.25rem;

}

.nav-item {
    padding: 0 18px;
}

/* title  */



.big-heading {
    font-family: "montserrat-black";
    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 40px;
    color: white;
    text-align: left;
   
}

.title-img {
    width: 60%;
    z-index: 0;
    left: 20px;
    position: relative;
    transform: rotate(20deg);
}

.title{
    text-align: left;
}

/* features  */

#features {
    padding: 10% 5%;
    position: relative;
    z-index: 1;
}

.feature-box {
    padding: 0% 5%;
}

.icon {
    margin-bottom: 20px;
    color: #ff4c68
}

.icon:hover {
    color: #FF193D;
}


/* testimonal  */


#testimonials {
    background-color: #FF99A8;
}

.testimonial-text {
    font-size: 2.5rem;
    color: white;
    line-height: 2;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin-right: 20px;
}

/* press  */

#press {
    padding: 7% 5%;

}

.press-img {
    padding: 0 3%;
    width: 20%;
}

/* pricing */

.white-section {
    padding: 5%;
}

.section-heading {
    font-family: "montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.section-para {
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.card-header {
    font-family: "montserrat-Bold";
}

.price-text {
    font-family: "montserrat-Bold";
    font-size: 3rem;
}

.button {
    width: 100%;
    
}

/* cta  */

#cta {
    background-color: #ff4c68;
    padding: 10% 5%;
}

.cta-heading {
    font-family: "montserrat-Bold";
    color: white;
    margin-bottom: 3%;
    font-size: 3rem;
}

.social-icon {
    margin: 10px 20px;
}